@media only screen and (max-width: 1000px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #alignment {
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 600px){
    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    #alignment {
        grid-column: 1/2;
    }
}