/* ---------------------------------------------------- */
/*Color Formatting*/
:root {
    --primary: #F99B7D;
    --secondary: #E76161;
    --accent1: #B04759;
    --accent2: #8BACAA;
}

/*------------------------------------------------------------------------------------------*/

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: auto 1fr;
    
}

header img {
    width: 120px;
}

header h1 {
    text-align: center;
    
}

header nav {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

header nav a {
    text-align: center;
    padding: 20px;
}

header nav a:hover{
    background-color: var(--accent1);
    color: var(--accent2);
}



footer {
    background-color: var(--primary);
}

/*----------------------------------------------------*/

@media only screen and (max-width: 600px){
    header nav {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }
}



